footer {
    position: relative;
    width: 100%;
    padding: 40px 10vm;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo {
    height: 200px;
}

.footer-ul-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title {
    grid-column: span 2;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.category .footer-link {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover {
    color: #fff;
}

@media screen and (max-width:749px) {
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-content .logo {
        width: 90%;
    }
    .footer-ul-container {
        width: 100%;
        padding: 0 5px;
    }
    .category {
        width: 50%;
    }
}